<div>
    <mat-card>
      <form [formGroup]="tradutorForm">
        <h3>Type in english here</h3>
        <mat-form-field appear="fill">
          <mat-label>Type in english</mat-label>
          <textarea
            cols="30"
            rows="5"
            matInput
            placeholder="Type here"
            formControlName="texto">
          </textarea>
          <mat-error *ngIf="tradutorForm.get('texto')?.hasError('required')">
            Required field
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Translate
        </button>
      </form>
    </mat-card>
 

  <mat-card>
    <form [formGroup]="tradutorForm">
      <h3>Pirata Language</h3>
      <div>
        <mat-form-field class="full-width" appear="fill">
          <textarea
            cols="30"
            rows="5"
            matInput
            placeholder="Response text"
            formControlName="textoTraduzido"
            [readonly]="true"
          ></textarea>
        </mat-form-field>
      </div>
      <mat-progress-bar
        *ngIf="progress"
        mode="indeterminate"
      ></mat-progress-bar>
    </form>
  </mat-card>
   </div>