mat-card {
    margin: 20px;
    display: inline-block;
    flex-direction: column;
    height: 100%;
    max-width: 500px;
    width: 500px;
    overflow: auto;
    white-space: nowrap;
  }
  
  mat-form-field {
    margin: 5px;
    width: 80%;
  }

  .full-width{
    width: 100%
  }
  